layout: index
description: A clear MAC OS installation guide for full-stack developers.
subtitle: Full Stack Your MAC
slogan: Full Stack Development MAC Cookbook
comments: false
---
ul#intro-feature-list.intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title Common ENV
      p.intro-feature-desc Basic Settings For Common Development Environment In MAC OS.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-picture-o
      h3.intro-feature-title Interactive &amp; Visual Design
      p.intro-feature-desc Useful Toolkit For Interactive Design And Visual Design.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title Font-end Development
      p.intro-feature-desc Front-end Toolsets For Developing Your Favorite HTML5 Pages Or Applications.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-database
      h3.intro-feature-title DB &amp; Server
      p.intro-feature-desc MongoDB, NGinx Configurations, PM2 And So On.
