layout: index
subtitle: "Full Stack Your MAC"
slogan: MAC全栈开发环境搭建指南
description: "A clear installation guide for full-stack developer! 全栈开发工程师MAC装机不完全手册"
comments: false
---
ul#intro-feature-list.intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title 通用环境
      p.intro-feature-desc MAC通用开发环境秒搭，Homebrew、iTerm2、Sublime Text、oh-my-zsh...
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-picture-o
      h3.intro-feature-title 交互与设计
      p.intro-feature-desc 其实内涵党的我们是不是只需要PS和Sketch是不是已经足够了呢
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title 前端开发
      p.intro-feature-desc Sublime Text的前端插件、Node-Static本地服务器、Gulp的各类常用前端插件...
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-database
      h3.intro-feature-title 后台与部署
      p.intro-feature-desc NGinx、Mongodb、Strongloop、PM2
